GumballMachineMonitor/Service References/GumballMachine/GumballMachine1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="State" elementFormDefault="qualified" targetNamespace="State" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/GumballMachine?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/State" />
  <xs:element name="getCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/State" minOccurs="0" name="getStateResult" nillable="true" type="q1:IState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>