GumballMachineMonitor/Service References/GumballMachine/GumballMachine1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="State" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="State" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="State/Imports">
      <xsd:import schemaLocation="http://localhost:8000/GumballMachine?xsd=xsd0" namespace="State" />
      <xsd:import schemaLocation="http://localhost:8000/GumballMachine?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/GumballMachine?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/State" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GumballMachine_getCount_InputMessage">
    <wsdl:part name="parameters" element="tns:getCount" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_getCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCountResponse" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_getLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:getLocation" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_getLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_getState_InputMessage">
    <wsdl:part name="parameters" element="tns:getState" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_getState_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStateResponse" />
  </wsdl:message>
  <wsdl:portType name="GumballMachine">
    <wsdl:operation name="getCount">
      <wsdl:input wsaw:Action="State/GumballMachine/getCount" message="tns:GumballMachine_getCount_InputMessage" />
      <wsdl:output wsaw:Action="State/GumballMachine/getCountResponse" message="tns:GumballMachine_getCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLocation">
      <wsdl:input wsaw:Action="State/GumballMachine/getLocation" message="tns:GumballMachine_getLocation_InputMessage" />
      <wsdl:output wsaw:Action="State/GumballMachine/getLocationResponse" message="tns:GumballMachine_getLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getState">
      <wsdl:input wsaw:Action="State/GumballMachine/getState" message="tns:GumballMachine_getState_InputMessage" />
      <wsdl:output wsaw:Action="State/GumballMachine/getStateResponse" message="tns:GumballMachine_getState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>